.Rproj.user
.Rhistory
.RData
.Ruserdata
*.eps
*.dta
!data/master.dta
*.gph
*.pdf
*.png
*.rds
!data/raw/recode_scheme.rds
!data/raw/V-Dem-CY-Core-v9.rds
!data/raw/wb_gdp.rds
*.rtf
*.smcl
*.ster
*.tex
/archives
data/ZA4804_v3-1-0_missing.txt
stata_files/xx_*
stata_files/dir/*
!stata_files/dir/00_mydirectory.do
!stata_files/dir/01_dir_structure.do
